html,
body,
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Comic Neue", cursive;
  background-color: rgb(255, 209, 216);
}
.header {
  font-size: 35px;
  margin: 20px auto;
  width: 30%;
  border: 3px solid #9dbae9;
  padding: 10px;
  border-radius: 25px;
  background-color: rgb(255, 244, 244);
  color: rgb(245, 129, 148);
  text-align: center;
}

.gallery {
  height: 50vh;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.gallery-card {
  flex-grow: 0 32%;
  width: 30%;
  margin: 25px auto;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 5px 7px;
  border: 3px solid #9dbae9;
  color: rgb(252, 152, 169);
  background-color: rgb(255, 244, 244);
  text-align: center;
}

.gallery-img {
  border-radius: 25px;
  height: 280px;
  margin: 5px auto;
}

.gallery-header {
  color: rgb(245, 129, 148);
  background-color: rgb(255, 244, 244);
  display: block;
  font-size: 25px;
  margin: 5px auto;
  text-align: center;
}
